/* Jens Legarth Ryge */
.main-container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px 20px;
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.statistics-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    padding: 20px 0 40px 0;
}

.statistic-info-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1892c3;
    border-radius: 5px;
    width: 40%;
    height: 100px;
    gap: 20px

}

.statistic-info-box-logo{
    display: flex;
    width: 40px;
}

.statistic-info-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.statistic-info-box-content-header{
    font-size: 22px;
    color: #FFFFFF;
}

.statistic-info-box-content-body-text{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.cars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.car-info-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #0f5e80;
}

.car-info-container-unavailable{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9f4d4;
}

.car-info-container-available{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b5e4f7;
}

.car-info-container-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #0b435b;
    font-weight: bold;
}

.info-field{
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-id{
    width: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-long{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-image{
    height: 22px;
    width:auto;
    padding-right: 10px;
}

.info-field-icon{
    height: 22px;
    width:auto;
    padding-right: 10px;
    cursor: pointer;
}