/*Jens Legarth Ryge*/


.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px 20px;
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
    padding-top: 20px;
}

.lease-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.lease-info-container-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #0b435b;
    font-weight: bold;
}

.lease-info-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #0f5e80;
}


.info-field{
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-name{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}


.info-field-filler{
    width: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-icon{
    height: 22px;
    width:auto;
    padding-right: 10px;
    cursor: pointer;
}

.report-container{
    width: 80%;
    height: 90%;
    left: 20vh;
    background-color: #F4F8FF;
}


.report-header{
    height: 60px;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.report-cross{
    width: 30px;
    height: auto;
}

.report-content{
    display: flex;
    flex-direction: row;
}

.report-content-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.report-content-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 550px;
    background-color: white;
    margin: 30px;
    border: 2px solid #0f5e80;
    border-radius: 5px;
}

.left-upper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.left-upper-content{
    padding: 10px;
}

.left-lower{
    font-size: 15px;
    height: 300px;
    margin: 0 50px 50px 50px;
    background-color: white;
    overflow: scroll;
}

.left-lower-content{
    padding: 10px 0 0 10px;
    font-size: 15px;
    display: flex;
    margin-top: 1px;
    justify-content: space-between;
    border: 2px solid #0f5e80;
    border-radius: 5px;
}

.type{
    width: 60%;
}

.price{
    width: 20%;
}

.right-header{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.add-incident-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.select-incident{
    margin: 30px auto 30px auto;
    width: 80%;
}

.incident-submit{
    display: inline-block;
    border-radius: 5px;
    background-color: #1892c3;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin:10px auto 10px auto;
    width: 200px;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: inherit;
}


.search-bar-form{
    display: flex;
    flex-direction: row;
    margin: 60px auto 0 auto;
    justify-content: space-between;

}

.search-text-field{
    height: 100%;
    width: 100%;
    border-style: none;
    font-size: 22px;
    background-color: #1892c3;
    color: #FFFFFF;
}

.search-text-field:focus{
    outline: none;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 32px;
    width: 30%;
    border-style: none;
    background-color: #1892c3;
    padding: 10px;
    font-size: 22px;
    color: #FFFFFF;
}

::placeholder{
    color: #FFFFFF;
    opacity: .5;
}


.search-icon{
    height: 25px;
    width: auto;
    margin: auto 0 auto 5px;
    opacity: .8;
    transition: 0.3s;
}

.search-icon:hover{
    opacity: 1;
}


.search-test{
    display: flex;
}

.incident-selector{
    height: 30px;
    width: 250px;
}
