/* Jens Legarth Ryge */
.main-container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px 20px;
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.registration-creation-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    padding: 20px 0 40px 0;
}

.button{
    display: inline-block;
    border-radius: 5px;
    background-color: #1892c3;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: inherit;
}

.button:hover{
    opacity: 1;
}

input[type=file], .info-form input[type=submit] {
    display: none;
}


.lease-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lease-info-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #0f5e80;
}

.lease-info-container-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #0b435b;
    font-weight: bold;
}

.info-field{
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-id{
    width: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-long{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-image{
    height: 22px;
    width:auto;
    padding-right: 10px;
}

.info-field-icon{
    height: 22px;
    width:auto;
    padding-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .logInFields{
        width: 70px;
    }
}

/* MADS ELLER JOHANNES TAG LIGE CREDIT HER TAK */

.popup{
    z-index: 10;
    height: 50%;
    width: 60%;
    position: absolute;
    margin-top: 10%;
    left: 40vh;
    background-color: #f6ffff;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    left: 99vh;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    padding: 0;
    border: none;
    background: none;
}

.report-cross{
    background-image: url("https://imgur.com/tnlpboB.png");
    width: 30px;
    height: auto;
    margin-right: 60%;
    overflow: hidden;
    background-repeat: no-repeat;
    border: none;
    background-color: Transparent;
}

.inputFields{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

#edit-info {
    display: block;
}

.inputFields select, .inputFields option {
    width: 20px;

}

.popupHeader{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-left: 40%;
    margin-right: 60%;
    display: flex;
    justify-content: space-between;
}

.close-button {
    width: 50px;

}

.popupSectionTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radioButtons{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMidLeft{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.popupMidRight{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMid{
    display: flex;
    flex-direction: row;
}

.popupButton{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

}

.id-holder {
    width: 20px;
}

.id {
    width: 20px;
}

.edit-container{
    width: 80%;
    height: 90%;
    position: absolute;
    left: 20vh;
    background-color: #f2f2f2;
}

.edit-header {
    height: 60px;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-cross{
    width: 30px;
    height: auto;
}

.edit-content{
    display: flex;
    flex-direction: row;
}

.edit-content-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.edit-content-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 550px;
    background-color: white;
    margin: 30px;
}

.left-upper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.left-upper-content .right-upper-content{
    padding: 10px;
}

.left-lower .right-lower{
    font-size: 15px;
    height: 300px;
    margin: 0 50px 50px 50px;
    background-color: white;
    overflow: scroll;
}

.left-lower-content .right-lower-content{
    padding: 10px 0 0 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.right-upper {

}

.right-lower {

}

.submit-and-edit {

}












