/* Jens Legarth Ryge */
.main-container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px 20px;
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.registration-creation-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    padding: 20px 0 40px 0;
}

.button{
    display: inline-block;
    border-radius: 5px;
    background-color: #1892c3;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover{
    opacity: 1;
}

input{
    display: none;
}

.lease-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lease-info-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #0f5e80;
}

.lease-info-container-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #0b435b;
    font-weight: bold;
}

.info-field{
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-id{
    width: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-long{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-image{
    height: 22px;
    width:auto;
    padding-right: 10px;
}

.info-field-icon{
    height: 22px;
    width:auto;
    padding-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .logInFields{
        width: 70px;
    }
}


.popup{
    z-index: 10;
    height: 50%;
    width: 60%;
    position: absolute;
    margin-top: 10%;
    left: 40vh;
    background-color: #f6ffff;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    left: 99vh;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    padding: 0;
    border: none;
    background: none;
}

.inputFields{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

.inputFields select, .inputFields option {
    width: 20px;

}

.popupHeader{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

.close-button {
    width: 50px;

}

.popupSectionTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radioButtons{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMidLeft{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.popupMidRight{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMid{
    display: flex;
    flex-direction: row;
}

.popupButton{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

}

.id-holder {
    width: 20px;
}

.id {
    width: 20px;
}







