/* Jens Legarth Ryge */
.main-container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px 20px;
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.registration-creation-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    padding: 20px 0 40px 0;
}

.button{
    display: inline-block;
    border-radius: 5px;
    background-color: #1892c3;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: inherit;
}

.button:hover{
    opacity: 1;
}

input[type=file], .info-form input[type=submit] {
    display: none;
}


.lease-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lease-info-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #0f5e80;
}

.lease-info-container-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #0b435b;
    font-weight: bold;
}

.info-field{
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-id{
    width: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-long{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.info-field-image{
    height: 22px;
    width:auto;
    padding-right: 10px;
}

.info-field-icon{
    height: 22px;
    width:auto;
    padding-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .logInFields{
        width: 70px;
    }
}

/* MADS ELLER JOHANNES TAG LIGE CREDIT HER TAK */


.popup{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-family: Montserrat,sans-serif;
}

.popup-window{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #0f5e80;
    border-style: solid;
    gap: 15px;
}

.popup-close-button{
    position: absolute;
    padding: 5px;
    right: 25%;
    top: 25%;
    width: 30px;
    height: 30px;
}

.popup-Header{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.popup-drop-down-formulas-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.popup-split-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-tickbox-container{
    display: flex;
    flex-direction: column;
}

.popup-pickup-and-startdate-container{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
}

.popup-submit-button{
    display: flex;
    justify-content: center;
}

.close-button {
    position: absolute;
    left: 99vh;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    padding: 0;
    border: none;
    background: none;
}

.inputFields{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

.input-fields {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 218px;
    height: 24px;
}

.input-field {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 210px;
    height: 18px;
}

.date-input-field {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 213px;
    height: 20px;
}

#edit-info {
    display: block;
}

.inputFields select, .inputFields option {
    width: 20px;

}

.close-button {
    width: 50px;

}

.popupSectionTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radioButtons{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMidLeft{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.popupMidRight{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupMid{
    display: flex;
    flex-direction: row;
}

.popupButton{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

}

.id-holder {
    width: 20px;
}

.id {
    width: 20px;
}

.edit-container{
    width: 80%;
    height: 90%;
    position: absolute;
    left: 20vh;
    background-color: #f2f2f2;
}

.edit-header {
    height: 60px;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-cross{
    width: 30px;
    height: auto;
}

.edit-content{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.edit-content-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.edit-content-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 550px;
    margin: 30px;
}

.left-upper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.right-upper {
    margin-left: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.left-upper-content, .right-upper-content {
    padding: 10px;
}

.right-upper-content{
    padding: 10px;
}

.left-lower, .right-lower {
    font-size: 18px;
    height: 300px;
    margin: 0 50px 50px 50px;
}


.left-lower-content {
    padding: 10px 0 0 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-lower-content {
    padding: 10px 0 0 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit-footer {
    height: 60px;
    font-size: 30px;
    margin: -78px 5px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.edit-footer button {
    margin-right: 30px;
}



.submit-and-edit {


}













