/*Jens Legarth Ryge*/

body{
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.login-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    border-radius: 5px;
    width: 25%;
    height: 60%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #88888887;
    padding: 2.5% 1.5% 5% 1.5%;
}

.login-box-logo{
    width: 75px;
    height: auto;
}

p{
    text-align: center;
    margin-block-end: 0;
}

h1{
    font-size: 28px;
    font-weight: lighter;
    margin-block-end: 0;
}

span{
    text-align: center;
}

.login-box-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.login-input-field{
    border-radius: 3px;
    border-style: solid;
    border-color: #9b9b9b;
    border-width: 1px;
    font-size: 16px;
    padding: 4%;
    transition: 0.2s;
    width: 70%;
}

.login-input-field:focus {
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    border-color: #106285;
    outline: none;
}

.button {
    width: 80%;
    padding: 4%;
    font-size: 18px;
    color: white;
    background-color: #1892c3;
    border-radius: 3px;
    border-style: none;
    transition: 0.3s;
}

.button:hover{
    background-color: #14749a;
    cursor: pointer;
}

.error {
    color: #ff4545;
}

@media screen and (max-width: 700px) {
    .login-field{
        width: 70px;
    }
}