body{
    background-color: #F4F8FF;
    font-family: Montserrat,sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: #ff4545;
}


.logIn {
    display: flex;
    height: auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    box-shadow: 1px 1px 10px #88888887;
}


.clockPicture{
    display: flex;
    width: 50px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.logInFields {
    width: 60%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: #1892c3;
}


.logInButton{
    width: 62%;
    height: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #1892c3;
    border-radius: 3px;
    border-width: 0;
    border-color: #1892c3;
}

@media screen and (max-width: 700px) {
    .logInFields{
        width: 70px;
    }
}

.no-pass{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}

.no-pass-pic{
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}
.no-pass-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    width: 45%;
    height: 100%;
}

.no-pass-header{
    margin-top: 30vh;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    font-family: Montserrat,sans-serif;

}

.no-pass-text{
    color: white;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    margin-top: 40px;
}