<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged-in fragments</title>
</head>
<body>
<div class="header" th:fragment="header()">
    <form method="POST" action="back-to-logged-in-frontpage" class="header-form">
        <input type="image" src="https://imgur.com/owCG6Ob.png" class="header-pic">
    </form>
    <form method="post" action="/log-out">
        <button type="button" class="log-out">Log ud</button>
    </form>

</div>
<section class="header-container" th:fragment="header()">
    <div class="picture-for-header-container">
        <img class="picture-for-header" src="https://imgur.com/owCG6Ob.png">
    </div>
    <div class="log-out-container">
        <form method="post" action="/log-out">
            <button type="button" class="log-out">Log ud</button>
        </form>
    </div>


</body>
</html>