<!DOCTYPE html>
<html ang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{general.css}" href="../static/general.css">
    <link rel="stylesheet" th:href="@{admin.css}" href="../static/admin.css">
</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>

<section class="main-container">
    <section class="lease-container">
        <form method="POST" action="/create-new-employee">
            <input type="submit" class="button" value="Ny medarbejder" title="Tilføj ny medarbejder">
        </form>
        <div class="lease-info-container-header">
            <span class="info-field">Medarbjeder ID:</span>
            <span class="info-field-name">Medarbejder navn:</span>
            <span class="info-field-name">Email:</span>
            <span class="info-field">Rettighedsniveau:</span>
            <span class="info-field-filler"></span>
        </div>
        <div class="lease-info-container" th:each="Employee : ${allEmployees}">
            <span class="info-field" th:text="${Employee.getId()}"></span>
            <span class="info-field-name" th:text="${Employee.getFullName()}"></span>
            <span class="info-field-name" th:text="${Employee.getEmail()}"></span>
            <span class="info-field" th:text="${Employee.getAccessFeatures()}"></span>
            <div>
                <form method="POST" action="/admin">
                    <input name="id" type="hidden" th:value="${Employee.getId()}">
                    <input type="image" class="info-field-icon" src="https://img.icons8.com/material-outlined/344/edit--v1.png" alt="submit">
                </form>
            </div>


        </div>
    </section>
</section>

</body>
</html>
</body>
</html>