<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og udbedring - Bilabonnement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">
    <link rel="stylesheet" th:href="@{damageAndRepair.css}"href="../static/damageAndRepair.css">
    <!-- Johannes Forsting-->
</head>
<body>

<div th:replace="fragments/general.html :: header()"></div>

<div id="manualPopupForm" style="display: none">

</div>

<section class="main-container">
    <div class="search-bar">
        <form method="POST" action="/search" class="search-test">
            <input type="search" id="mySearch" name="search" placeholder="Søg efter nummerplade" class="search-text-field">
            <input type="image" class="search-icon" src="https://img.icons8.com/material-outlined/344/ffffff/search--v1.png" alt="submit" title="Search">
        </form>
        <form method="POST" action="/search" class="search-test">
            <input type="hidden" name="clear" value="1">
            <input type="image" class="search-icon" src="https://img.icons8.com/material-outlined/344/ffffff/clear-filters.png" alt="submit" title="Remove filters">
        </form>
    </div>
    <section class="lease-container">
        <div class="lease-info-container-header">
            <span class="info-field">Rapport ID:</span>
            <span class="info-field">Nr plade:</span>
            <span class="info-field-name">Lejet af:</span>
            <span class="info-field">Oprettelsesdato:</span>
            <span class="info-field-filler"></span>
        </div>
        <div class="lease-info-container" th:each="IncidentReport : ${allIncidentReports}">
            <span class="info-field" th:text="${IncidentReport.getId()}"></span>
            <span class="info-field" th:text="${IncidentReport.getRegistrationNumber()}"></span>
            <span class="info-field-name" th:text="${IncidentReport.getLeasedBy()}"></span>
            <span class="info-field" th:text="${IncidentReport.getCreationDate()}"></span>
            <div>
                <form method="POST" action="/report">
                    <input name="id" type="hidden" th:value="${IncidentReport.getId()}">
                    <input type="image" class="info-field-icon" src="https://img.icons8.com/material-outlined/344/edit--v1.png" alt="submit">
                </form>
                </div>


        </div>
    </section>
</section>

</body>
</html>