<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skade og udbedring - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">
    <link rel="stylesheet" th:href="@{damageAndRepair.css}"href="../static/damageAndRepair.css">
</head>
<body>
<!-- Johannes Forsting-->

<div th:replace="fragments/general.html :: header()"></div>

<section class="main-container">
    <div class="report-container">
        <div class="report-header">
            <p></p>
            <span th:text="${incidentReport.getRegistrationNumber()}"></span>
            <form method="GET" action="/damage">
                <input type="image" class="report-cross" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/344/external-cross-interface-royyan-wijaya-detailed-outline-royyan-wijaya-2.png" alt="submit">
            </form>
        </div>

        <div class="report-content">
            <div class="report-content-left">
                <div class="left-upper">
                    <div class="left-upper-content">
                        <span th:text="'Udlejet til: ' + ${customer.getFullName()}"></span>
                    </div>
                    <div class="left-upper-content">
                        <span>Har lav afleveringsforsikring: </span>
                        <span th:if="${leaseReport.hasLowDeductableInsurance()}">
                            <span>Ja</span>
                        </span>
                        <span th:unless="${leaseReport.hasLowDeductableInsurance()}">
                            <span>Nej</span>
                        </span>
                    </div>
                    <div class="left-upper-content">
                        <span>Har afleveringsforsikring: </span>
                        <span th:if="${leaseReport.hasReturnInsurance()}">
                            <span>Ja</span>
                        </span>
                        <span th:unless="${leaseReport.hasReturnInsurance()}">
                            <span>Nej</span>
                        </span>
                    </div>
                    <div class="left-upper-content">
                        <span th:text="'Samlet pris ' + ${incidentReport.getPrice()}"></span>
                    </div>
                </div>

                <div class="left-lower">
                    <div class="left-lower-content" th:each="Incident : ${incidents}">
                        <span class="type" th:text="'Skades type: ' + ${Incident.getType()}"></span>
                        <span class="price" th:text="'Pris: ' + ${Incident.getPrice() * incidentReport.getIncidentFactor()}"></span>
                        <form method="POST" action="/delete-incident">
                            <input type="hidden" name="incidentId" th:value="${Incident.getId()}">
                            <input type="image" class="info-field-icon" src="https://img.icons8.com/fluency-systems-regular/344/filled-trash.png">
                        </form>
                    </div>


                </div>

            </div>
            <div class="report-content-right">
                <div class="right-header">
                    NY SKADE
                </div>
                <form method="POST" class="add-incident-form" action="create-incident">
                    <div class="select-incident">
                        <label for="incident">Vælg skade: </label>
                        <input type="hidden" name="incidentReportId" id="incidentReportId" th:value="${incidentReport.getId()}">
                        <Select name="incident" id="incident" class="incident-selector" >
                            <option th:each="IncidentType : ${incidentTypes}" th:value="${IncidentType.getId()}" th:text="${IncidentType.getType()}"></option>
                        </Select>
                    </div>
                    <input type="submit" class="incident-submit" value="TILFØJ">
                </form>

            </div>

        </div>
    </div>
</section>


</body>
</html>