<!-- Jens Legarth Ryge -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dataregistrering - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">
    <link rel="stylesheet" th:href="@{dataRegistration.css}"href="../static/dataRegistration.css">
    <!-- Jens Legarth Ryge og Mads Nielsen-->
</head>

<body>
<div th:replace="fragments/general.html :: header()"></div>

<section class="popup" id="manual-registration-popup-form" style="display: none">
    <section class="popup-window">
        <div class="popup-header">Manuel indtastning</div>
        <input type="image" class="popup-close-button" src="https://imgur.com/tnlpboB.png" id="button-close" onclick="closeManualRegistrationForm()">
        <form method="POST" action="/manual-upload">
            <section class="popup-drop-down-formulas-container">
                <div>
                    <label for="carId"><b>Nummerplade</b></label>
                    <select name="carId" id="carId" class="input-field">
                        <option class="id" name="carIdToUse" th:each="Car : ${allCars}" th:value="${Car.getId()}" th:text="${Car.getRegistrationNumber()}"></option>
                    </select>
                </div>
                <div>
                    <label for="customerId"><b>Kunde ID & navn</b></label>
                    <select name="customerId" id="customerId" class="input-field">
                        <option class="id" name="carIdToUse" th:each="Customer : ${allCustomers}" th:value="${Customer.getId()}" th:text="${Customer.getIdPlusFullName()}"></option>
                    </select>
                </div>

                <div>
                    <label for="pickupAddress"><b>Afhentningssted</b></label>
                    <select name="pickupAddress" id="pickupAddress" class="input-field">
                        <option th:each="PickupLocation : ${allPickupLocations}" th:value="${PickupLocation.getId()}" th:text="${PickupLocation.getName()}"></option>
                    </select>
                </div>
            </section>

            <section class="popup-drop-down-formulas-container">
                <section class="popup-tickbox-container">
                    <div class="popup-radio-button">
                        <label for="deliveryInsurance"><b>Afleverings forsikring</b></label>
                        <input type="checkbox" id="deliveryInsurance" name="deliveryInsurance" >
                    </div>
                    <div class="popup-radio-button">
                        <label for="lowDeductableInsurance"><b>Lav selvrisiko forsikring</b></label>
                        <input type="checkbox" id="lowDeductableInsurance" name="lowDeductableInsurance">
                    </div>
                    <div class="popup-radio-button">
                        <label for="isLimited"><b>Limited</b></label>
                        <input type="checkbox" id="isLimited" name="isLimited">
                    </div>
                </section>
                <div>
                    <label for="startDate"><b>Startdato</b></label>
                    <input type="date" class="input-field" placeholder="Startdato" id="startDate" name="startDate">
                </div>
                <div>
                    <label for="period"><b>Periode</b></label>
                    <input type="number" class="input-field" placeholder="Periode" id="period" name="period">
                </div>
            </section>
            <section class="edit-popup-submit-button-container">
                <button class="button" type="submit">Registrér</button>
            </section>

        </form>
    </section>
</section>

<section class="main-container" id="blurr">
    <section class="registration-creation-container">
        <form method="POST" action="/get-upload" class="button" enctype="multipart/form-data">
            <label class="button-label" for="registration-file"><span><img class="button-image" src="https://img.icons8.com/windows/344/ffffff/import-csv.png">Upload CSV-fil</span></label>
            <input type="file" onchange="form.submit()" name="registration-file" id="registration-file" accept=".csv">
        </form>
        eller
        <button type="button" class="button" onclick="openManualRegistrationForm()"><img class="button-image" src="https://img.icons8.com/windows/344/ffffff/edit-file.png"> Registrér manuelt</button>
    </section>

    <section class="lease-container">
        <div class="lease-info-container-header">
            <span class="info-field">Nr.plade:</span>
            <span class="info-field-long">Oprettet af:</span>
            <span class="info-field-long">Lejet af:</span>
            <span class="info-field">Oprettet:</span>
            <span class="info-field-image" title="Lav selvrisiko">LS</span>
            <span class="info-field-image" title="Afhentningsforsikring">AF</span>
            <span class="info-field-image" title="Limited">LTD</span>
            <span class="info-field-long">Afhentningsadresse:</span>
            <span class="info-field">Antal dage:</span>
            <span class="info-field">Pris DKK:</span>
            <span class="info-field">Startdato:</span>
            <div><img class="info-field-image"  src="https://i.stack.imgur.com/olrL8.png"></div>
        </div>

        <div id="container-of-leases" class="lease-info-container" th:each="LeaseReport : ${allLeaseReports}">
            <span class="info-field" th:text="${carRepository.getSingleById(LeaseReport.getCarId()).getRegistrationNumber()}"></span>
            <span class="info-field-long" th:text="${employeeRepository.getSingleById(LeaseReport.getEmployeeId()).getEmail()}"></span>
            <span class="info-field-long" th:text="${customerRepository.getSingleById(LeaseReport.getCustomerId()).getEmail()}"></span>
            <span class="info-field" th:text="${LeaseReport.getCreatedDate()}"></span>
            <!-- truefalse?? -->

            <span th:if="${LeaseReport.hasLowDeductableInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/checked-checkbox--v1.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.hasLowDeductableInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/unchecked-checkbox.png">
                </span>
            </span>

            <span th:if="${LeaseReport.hasReturnInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/checked-checkbox--v1.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.hasReturnInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/unchecked-checkbox.png">
                </span>
            </span>

            <span th:if="${LeaseReport.isLimited()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/checked-checkbox--v1.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.isLimited()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/ios/344/unchecked-checkbox.png">
                </span>
            </span>

            <!-- truefalse?? -->
            <span class="info-field-long" th:text="${pickupLocationRepository.getSingleById(LeaseReport.getPickupLocationId()).getName()}"></span>
            <span class="info-field" th:text="${LeaseReport.getPeriod()}"></span>
            <span class="info-field" th:text="${LeaseReport.getPriceFormatted()}"></span>
            <span class="info-field" th:text="${LeaseReport.getStartDate()}"></span>
            <div class="info-form" >
                <input type="hidden" th:value="${LeaseReport.getId()}" id="tester-id" name="id">
                <input type="image" class="info-field-icon" name="edit-info" id="edit-info" th:onclick="'openEditForm(\'' + ${LeaseReport.getId()} + '\')'"  src="https://img.icons8.com/material-outlined/344/edit--v1.png" alt="Edit">

                <section class="popup"  th:id="${'edit-popup-form' + LeaseReport.getId()}" style="display: none">
                    <section class="edit-popup-window">
                        <div class="edit-popup-header"><b>Rediger lease rapport</b></div>
                        <input type="image" class="edit-popup-close-button" src="https://imgur.com/tnlpboB.png" id="edit-button-close" th:onclick="'closeEditForm(\'' + ${LeaseReport.getId()} + '\')'">
                        <form method="POST" action="/edit-lease-update" th:id="${'edit-information' + LeaseReport.getId()}">
                            <section class="edit-popup-container">
                                <section class="edit-popup-drop-down-formulas-container-left">
                                    <div class="edit-fields">
                                        <label for="lease-id"><b>Report ID</b></label>
                                        <input type="number" class="input-fields" name="lease-id" id="lease-id" th:value="${LeaseReport.getId()}" disabled>
                                        <script>console.log(document.getElementById("lease-id").valueOf())</script>
                                    </div>
                                    <div class="edit-fields">
                                        <label for="car-chassis"><b>Stelnummer</b></label>
                                        <select id="car-chassis" name="car-chassis" class="input-fields"  disabled>
                                            <option class="id" name="car-id-to-use" th:value="${LeaseReport.getCarId()}" th:text="${LeaseReport.getCarById(LeaseReport.getCarId()).getChassisNumber()}" selected disabled></option>
                                            <option class="id" name="car-id-to-use" th:each="Car : ${allCars}"  th:value="${Car.getId()}" th:text="${Car.getChassisNumber()}"></option>
                                        </select>
                                    </div>
                                    <div class="edit-fields">
                                        <label for="edit-customer-id"><b>Kunde ID & navn</b></label>
                                        <select id="edit-customer-id" name="edit-customer-id" class="input-fields"  disabled>
                                            <option class="id" th:value="${LeaseReport.getEmployeeId()}" th:text="${LeaseReport.getCustomerById(LeaseReport.getCustomerId()).getIdPlusFullName()}" selected disabled></option>
                                            <option class="id" name="customer-id-to-use" th:each="Customer : ${allCustomers}" th:value="${Customer.getId()}" th:text="${Customer.getIdPlusFullName()}"></option>
                                        </select>
                                    </div>
                                    <div class="edit-fields">
                                        <label for="employee-id"><b>Medarbejder</b></label>
                                        <select name="employee-id" id="employee-id" class="input-fields"  disabled>
                                            <option class="id" th:value="${LeaseReport.getEmployeeId()}" th:text="${LeaseReport.getEmployeeById(LeaseReport.getEmployeeId()).getIdPlusFullName()}" selected disabled></option>
                                            <option class="id" th:each="Employee : ${allEmployees}" th:value="${Employee.getId()}" th:text="${Employee.getIdPlusFullName()}"></option>
                                        </select>
                                        <input type="hidden" th:value="${LeaseReport.getEmployeeId()}" id="dig">
                                    </div>
                                </section>

                                <section class="edit-popup-drop-down-formulas-container-middle">
                                    <section>
                                        <div class="edit-fields">
                                            <span th:if="${LeaseReport.hasReturnInsurance()}">
                                                <label for="edit-return-insurance-true"><b>Afleverings forsikring</b></label>
                                                <select name="edit-return-insurance" id="edit-return-insurance-true" class="input-fields"  disabled>
                                                    <option class="id" th:value="${LeaseReport.hasReturnInsurance()}" selected disabled>Har afleveringsforsikring</option>
                                                    <option class="id" th:value="1" >Har retur forsikring</option>
                                                    <option class="id" th:value="0">Har ikke retur forsikring</option>
                                                </select>
                                            </span>
                                            <span th:unless="${LeaseReport.hasReturnInsurance()}">
                                                <label for="edit-return-insurance-false"><b>Afleverings forsikring</b></label>
                                                <select name="edit-return-insurance" id="edit-return-insurance-false" class="input-fields"  disabled>
                                                    <option class="id" th:value="${LeaseReport.hasReturnInsurance()}" selected disabled>Har ikke afleveringsforsikring</option>
                                                    <option class="id" th:value="1" >Har retur forsikring</option>
                                                    <option class="id" th:value="0">Har ikke retur forsikring</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="edit-fields">
                                            <span th:if="${LeaseReport.hasLowDeductableInsurance()}">
                                                <label for="edit-low-deductable-insurance-true"><b>Lav selvrisiko forsikring</b></label>
                                                <select name="edit-has-deductable" id="edit-low-deductable-insurance-true" class="input-fields" disabled>
                                                    <option class="id" th:value="${LeaseReport.hasLowDeductableInsurance()}" selected disabled>Har selvrisiko forsikring</option>
                                                    <option class="id" th:value="1">Har selvrisiko forsikring</option>
                                                    <option class="id" th:value="0">Har ikke selvrisiko forsikring</option>
                                                </select>
                                            </span>
                                            <span th:unless="${LeaseReport.hasLowDeductableInsurance()}">
                                                <label for="edit-low-deductable-insurance-false"><b>Lav selvrisiko forsikring</b></label>
                                                <select name="edit-has-deductable" id="edit-low-deductable-insurance-false" class="input-fields" disabled>
                                                    <option class="id" th:value="${LeaseReport.hasLowDeductableInsurance()}" selected disabled>Har ikke selvrisiko forsikring</option>
                                                    <option class="id" th:value="1">Har selvrisiko forsikring</option>
                                                    <option class="id" th:value="0">Har ikke selvrisiko forsikring</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="edit-fields">
                                            <span th:if="${LeaseReport.isLimited()}">
                                                <label for="edit-is-limited-true"><b>Limited</b></label>
                                                <select name="edit-is-limited" id="edit-is-limited-true" class="input-fields" disabled>
                                                    <option class="id" th:value="${LeaseReport.isLimited()}" selected disabled>Limited</option>
                                                    <option class="id" th:value="1">Limited</option>
                                                    <option class="id" th:value="0">Unlimited</option>
                                                </select>
                                            </span>
                                            <span th:unless="${LeaseReport.isLimited()}">
                                                <label for="edit-is-limited-false"><b>Limited</b></label>
                                                <select name="edit-is-limited" id="edit-is-limited-false" class="input-fields" disabled>
                                                    <option class="id" th:value="${LeaseReport.isLimited()}" selected disabled>Unlimited</option>
                                                    <option class="id" th:value="1">Limited</option>
                                                    <option class="id" th:value="0">Unlimited</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="edit-fields">
                                            <label for="edit-pickup-address"><b>Afhentningssted</b></label>
                                            <select name="edit-pickup-address" id="edit-pickup-address" class="input-fields" disabled>
                                                <option class="id" th:value="${LeaseReport.getPickupLocationId()}" th:text="${LeaseReport.getPickupLocationById(LeaseReport.getPickupLocationId()).getStreetNameNumberPostcode()}" selected disabled></option>
                                                <option class="id" th:each="PickupLocation : ${allPickupLocations}" th:value="${PickupLocation.getId()}" th:text="${PickupLocation.getStreetNameNumberPostcode()}"></option>
                                            </select>
                                        </div>
                                    </section>
                                </section>
                                <section class="edit-popup-drop-down-formulas-container-right">
                                    <div class="edit-fields">
                                        <label for="start-date"><b>Startdato</b></label>
                                        <input type="date" id="start-date" name="start-date" class="input-fields" th:value="${LeaseReport.getStartDate()}" disabled>
                                    </div>
                                    <div class="edit-fields">
                                        <label for="created-date"><b>Raport lavet</b></label>
                                        <input type="date"  name="edit-created-date" id="created-date" class="input-fields" th:value="${LeaseReport.getCreatedDate()}" disabled>
                                    </div>
                                    <div class="edit-fields">
                                        <label for="edit-period"><b>Periode</b></label>
                                        <input type="number" id="edit-period" name="edit-period" class="input-fields" th:value="${LeaseReport.getPeriod()}" disabled>
                                    </div>
                                </section>
                                <input type="hidden" th:value="${LeaseReport.getPrice()}" >
                            </section>
                            <section class="edit-popup-submit-button-container">
                                <div class="submit-and-edit">
                                    <button  th:id="${'edit' + LeaseReport.getId()}" th:onclick="'unlockButton(\'' + ${LeaseReport.getId()} + '\')'" type="button">Rediger</button>
                                    <button type="submit" th:onclick="" th:id="${'apply-button' + LeaseReport.getId()}" disabled>Anvend</button>
                                </div>
                            </section>
                        </form>
                    </section>
                </section>
                <form method="POST" action="/delete-lease-report" >
                    <input type="hidden" th:value="${LeaseReport.getId()}" name="leaseId" >
                    <input type="image" onclick="return ask()" class="info-field-icon" id="tester" src="https://img.icons8.com/fluency-systems-regular/344/filled-trash.png" alt="delete">
                </form></div>
        </div>
    </section>
</section>

<script >
    function ask() {
        return confirm('Er du sikker på du vil slette denne lejeaftale og tilhørende skadesrapport?');
    }

    function openEditForm(leaseReportNumber) {
        document.getElementById("edit-popup-form" + leaseReportNumber).style.display = "flex";
        document.getElementById("blurr").style.filter = "blur(5x)";
        addListener(leaseReportNumber);
    }

    function closeEditForm(leaseReportNumber) {
        document.getElementById("edit-popup-form" + leaseReportNumber).style.display = "none";
        document.getElementById("blurr").style.filter = "blur(0x)";
        lockButton(leaseReportNumber);
        lockFields(leaseReportNumber)
    }

    function openManualRegistrationForm() {
        document.getElementById("manual-registration-popup-form").style.display = "flex";
        document.getElementById("blurr").style.filter= "blur(5px)";
    }
    function closeManualRegistrationForm() {
        document.getElementById("manual-registration-popup-form").style.display = "none";
        document.getElementById("blurr").style.filter= "blur(0px)";
    }


    function addListener(leaseReportNumber) {
        var button = document.getElementById("edit" + leaseReportNumber);
        var info = document.getElementById("edit-information" + leaseReportNumber);
        button.addEventListener('click', function () {
            for (var i = 1; i < info.length; i++) {
                    info.elements[i].disabled = false;
            }
        })
    }

    function lockFields(leaseReportNumber) {
        var info = document.getElementById("edit-information" + leaseReportNumber);
        for (var i = 0; i < info.length; i++) {
            info.elements[i].disabled = true;
        }
    }

    function unlockButton(leaseReportNumber) {
        document.getElementById("apply-button" + leaseReportNumber).disabled = false;
    }

    function unlockIdField(leaseReportNumber) {
        var info = document.getElementById("edit-information" + leaseReportNumber);
        info.elements[0].disabled = false;

    }

    function lockButton(leaseReportNumber) {
        document.getElementById("apply-button" + leaseReportNumber).disabled = true;
    }


</script>
</body>
</html>