<!-- Mads Bøgh Højer Nielsen -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{general.css}" href="../static/general.css">
    <link rel="stylesheet" th:href="@{dataRegistration.css}"href="../static/dataRegistration.css">
</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>
<section class="main-container">
    <div class="edit-container">
        <div class="edit-header">
            <p></p>
            <span th:text="${'Lease raport ID: ' + lease.getId()}"></span>
            <form method="GET" action="/back-to-data-registration">
                <input type="image" class="edit-cross" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/344/external-cross-interface-royyan-wijaya-detailed-outline-royyan-wijaya-2.png" alt="submit">
            </form>
        </div>
        <div class="edit-content">
            <form id="information" class="edit-content" action="">
                <div class="edit-content-left">
                    <div class="left-upper">
                        <div class="left-upper-content">
                            <label for="lease-id">Report ID</label>
                            <input type="number" class="input-field" id="lease-id" th:value="${lease.getId()}" disabled>
                        </div>

                        <div class="left-upper-content">
                            <label for="car-id">Stelnummer</label>
                            <select id="car-id" class="input-fields" disabled>
                                <option th:value="${lease.getCarId()}" th:text="${carById.getChassisNumber()}" selected disabled></option>
                                <option th:each="Car : ${allCars}"  th:value="${Car.getId()}" th:text="${Car.getChassisNumber()}"></option>
                            </select>
                        </div>

                        <div class="left-upper-content">
                            <label for="period">Leasing tid</label>
                            <input type="number" id="period" class="input-field" th:value="${lease.getPeriod()}" disabled>
                        </div>

                        <div class="left-upper-content">
                            <label for="customer-id">Kunde ID</label>
                            <select id="customer-id" class="input-fields" disabled>
                                <option th:value="${lease.getEmployeeId()}" th:text="${customerById.getIdPlusFullName()}" selected disabled></option>
                                <option th:each="Customer : ${allCustomers}" th:value="${Customer.getId()}" th:text="${Customer.getIdPlusFullName()}"></option>
                            </select>
                        </div>

                        <div class="left-upper-content">
                            <label for="employee-id">Medarbejder</label>
                            <select name="pickup-address" id="employee-id" class="input-fields" disabled>
                                <option th:value="${lease.getEmployeeId()}" th:text="${employeeById.getIdPlusFullName()}" selected disabled></option>
                                <option th:each="Employee : ${allEmployees}" th:value="${Employee.getId()}" th:text="${Employee.getIdPlusFullName()}"></option>
                            </select>
                        </div>
                        <div class="left-upper-content">
                            <label for="pickup-address">Opsamlings addresse</label>
                            <select name="pickup-address" id="pickup-address" class="input-fields" disabled>
                                <option th:value="${lease.getPickupLocationId()}" th:text="${pickupLocationId.getStreetNameNumberPostcode()}" selected disabled></option>
                                <option th:each="PickupLocation : ${allPickupLocations}" th:value="${PickupLocation.getId()}" th:text="${PickupLocation.getStreetNameNumberPostcode()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="edit-content-right">
                    <div class="right-header">

                    </div>

                    <div class="right-upper">
                        <div class="right-upper-content">
                            <label for="start-date">Starts dato</label>
                            <input type="date" id="start-date" class="date-input-field" th:value="${lease.getStartDate()}" disabled>
                        </div>

                        <div class="right-upper-content">
                            <label for="created-date">Raport lavet</label>
                            <input type="date" id="created-date" class="date-input-field" th:value="${lease.getCreatedDate()}" disabled>
                        </div>

                        <div class="right-upper-content">
                            <label for="has-deductable">Afleveringsforsikring</label>
                            <select name="has-deductable" id="has-deductable" class="input-fields" disabled>
                                <option th:value="${lease.hasLowDeductableInsurance()}" th:text="${hasDeductable}" selected disabled></option>
                                <option value="1">Har afleveringsforsikring</option>
                                <option value="0">Har ikke afleveringsforsikring</option>
                            </select>
                        </div>

                        <div class="right-upper-content">
                            <label for="return-insurance">Retur forsikring</label>
                            <select name="return-insurance" id="return-insurance" class="input-fields" disabled>
                                <option th:value="${lease.hasReturnInsurance()}" th:text="${hasReturn}" selected disabled></option>
                                <option value="1" >Har retur forsikring</option>
                                <option value="0">Har ikke retur forsikring</option>
                            </select>
                        </div>

                        <div class="right-upper-content">
                            <label for="limited">Limited & Unlimited</label>
                            <select name="limited" id="limited" class="input-fields" disabled>
                                <option th:value="${lease.isLimited()}" th:text="${isLimited}" selected disabled></option>
                                <option value="1" th:text="Limited"></option>
                                <option value="0" th:text="Unlimited"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="edit-footer">
            <div class="submit-and-edit">
                <button  id="edit" onclick="unlockButton()" type="button">Rediger</button>
                <button type="button" id="apply-button" onclick="form.submit()" disabled>Anvend</button>
            </div>
        </div>
    </div>

</section>
<script>
    var button = document.getElementById("edit");
    var info = document.getElementById("information");
    button.addEventListener('click', function() {
        for (var i = 1; i <info.length ; i++) {
            info.elements[i].disabled = false
        }
    })

    function unlockButton() {
        document.getElementById("apply-button").disabled = false;
    }

</script>
</body>
</html>