<!-- Jens Legarth Ryge -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bilabonnement - Dataregistrering</title>
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">
    <link rel="stylesheet" th:href="@{dataRegistration.css}"href="../static/dataRegistration.css">
</head>

<body>
<div th:replace="fragments/general.html :: header()"></div>

<div id="manualPopupForm" style="display: none">
    <form method="POST" action="/manual-upload" class="popup">
        <button type="button" class="close-button" id="button-close" onclick="closeManualForm()">+</button>
        <div class="popupHeader">Manuel indtastning</div>
        <div class="popupSectionTop">
            <div>
                <label for="carId" class="inputFields"><b>Stelnummer</b></label>
                <select name="carId" id="carId" class="inputFields">
                    <option class="id" name="carIdToUse" th:each="Car : ${allCars}" th:value="${Car.getId()}" th:text="${Car.getChassisNumber()}"></option>
                </select>
            </div>
            <div>
                <label for="customerId" class="inputFields"><b>Kunde ID & navn</b></label>
                <select name="customerId" id="customerId" class="inputFields">
                    <option class="id" name="carIdToUse" th:each="Customer : ${allCustomers}" th:value="${Customer.getId()}" th:text="${Customer.getIdPlusFullName()}"></option>
                </select>
            </div>
            <div>
                <label for="period" class="inputFields"><b>Periode</b></label>
                <input type="number" class="inputFields" placeholder="Periode" id="period" name="period">
            </div>
        </div>
        <div class="popupMid">
            <div class="popupMidLeft">
                <div class="radioButtons">
                    <label for="deliveryInsurance" class="inputFields"><b>Afleverings forsikring</b></label>
                    <input type="checkbox" class="inputFields" id="deliveryInsurance" name="deliveryInsurance" >
                </div>
                <div class="radioButtons">
                    <label for="lowDeductableInsurance" class="inputFields"><b>Lav selvrisiko forsikring</b></label>
                    <input type="checkbox" class="inputFields" id="lowDeductableInsurance" name="lowDeductableInsurance">
                </div>
                <div class="radioButtons">
                    <label for="isLimited" class="inputFields"><b>Limited</b></label>
                    <input type="checkbox" class="inputFields" id="isLimited" name="isLimited">
                </div>
            </div>

            <div class="popupMidRight">
                <div>
                    <label for="pickupAddress" class="inputFields"><b>Afhentningssted</b></label>
                    <select name="pickupAddress" id="pickupAddress" class="inputFields">
                        <option  value="Rødovre">Rødovre</option>
                        <option value="Køge">Køge</option>
                        <option value="Odense">Odense</option>
                        <option value="Århus">Århus</option>
                        <option value="Ålborg">Ålborg</option>
                    </select>

                </div>
                <div>
                    <label for="startDate" class="inputFields"><b>Startdato</b></label>
                    <input type="date" class="inputFields" placeholder="Startdato" id="startDate" name="startDate">
                </div>
            </div>
        </div>


        <button type="submit" class="popupButton">Registrér</button>


    </form>
</div>

<section class="main-container" id="tester">
    <section class="registration-creation-container">
        <form method="POST" action="/get-upload" enctype="multipart/form-data">
            <label for="registration-file" class="button"><span>Upload CSV-fil</span></label>
            <input type="file" onchange="form.submit()" name="registration-file" id="registration-file" accept=".csv">
        </form>
        eller
        <button type="button" class="button" onclick="openManualForm()">åben</button>




    </section>

    <section class="lease-container">
        <div class="lease-info-container-header">
            <span class="info-field-id">ID:</span>
            <span class="info-field">Nr.plade:</span>
            <span class="info-field-long">Oprettet af:</span>
            <span class="info-field-long">Lejet af:</span>
            <span class="info-field">Oprettet:</span>
            <span class="info-field-image" title="Lav selvrisiko">LS</span>
            <span class="info-field-image" title="Afhentningsforsikring">AF</span>
            <span class="info-field-image" title="Limited">LTD</span>
            <span class="info-field-long">Afhentningsadresse:</span>
            <span class="info-field">Antal dage:</span>
            <span class="info-field">Pris DKK:</span>
            <span class="info-field">Startdato:</span>
            <div><img class="info-field-image" src="https://i.stack.imgur.com/olrL8.png"></div>
        </div>
        <div class="lease-info-container" th:each="LeaseReport : ${allLeaseReports}">
            <span class="info-field-id" th:text="${LeaseReport.getId()}"></span>
            <span class="info-field" th:text="${LeaseReport.getCarId()}"></span>
            <span class="info-field-long" th:text="${LeaseReport.getEmployeeId()}"></span>
            <span class="info-field-long" th:text="${LeaseReport.getCustomerId()}"></span>
            <span class="info-field" th:text="${LeaseReport.getCreatedDate()}"></span>
            <!-- truefalse?? -->

            <span th:if="${LeaseReport.hasLowDeductableInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-good-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.hasLowDeductableInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-wrong-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>

            <span th:if="${LeaseReport.hasReturnInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-good-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.hasReturnInsurance()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-wrong-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>

            <span th:if="${LeaseReport.isLimited()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-good-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>
            <span th:unless="${LeaseReport.isLimited()}">
                <span class="info-field">
                    <img class="info-field-image" src="https://img.icons8.com/external-prettycons-lineal-prettycons/452/external-wrong-text-formatting-prettycons-lineal-prettycons.png">
                </span>
            </span>

            <!-- truefalse?? -->
            <span class="info-field-long" th:text="${LeaseReport.getPickupAddress()}"></span>
            <span class="info-field" th:text="${LeaseReport.getPeriod()}"></span>
            <span class="info-field" th:text="${LeaseReport.getPrice()}"></span>
            <span class="info-field" th:text="${LeaseReport.getStartDate()}"></span>

            <div>
                <form method="POST" action="/remove-lease">
                    <input name="id" th:id="edit-id + ${LeaseReport.getId()}" type="hidden" th:value="${LeaseReport.getId()}">
                    <input type="submit" th:onclick="getEditId(${LeaseReport.getId()})"><img class="info-field-icon" src="https://img.icons8.com/material-outlined/344/edit--v1.png" alt="Edit"></input>

                </form>
                <input type="submit"><img class="info-field-icon" src="https://img.icons8.com/fluency-systems-regular/344/filled-trash.png" alt="Delete"></input>
            </div>
        </div>
    </section>
</section>

<section class="edit-field" id="edit" >
    <div id="edit-popup" style="display: none">
        <form method="POST" action="/manual-upload" class="popup">
            <button type="button" class="close-button" onclick="closeManualForm()">+</button>
            <div class="popupHeader">Information</div>
            <div class="popupSectionTop">
                <div>
                    <label for="carId" class="inputFields"><b>Stelnummer</b></label>
                    <div class="inputFields">
                        <span class="id" id="edit-car-id"></span>
                    </div>
                </div>
                <div>
                    <label for="customerId" class="inputFields"><b>Kunde ID & navn</b></label>
                    <div class="inputFields">
                        <span class="id" id="edit-customer"></span>
                        <option class="id" name="carIdToUse" th:each="Customer : ${allCustomers}" th:value="${Customer.getId()}" th:text="${Customer.getIdPlusFullName()}"></option>
                    </div>
                </div>
                <div>
                    <label for="period" class="inputFields"><b>Periode</b></label>
                    <span id="edit-period" class="inputFields"></span>
                </div>
            </div>
            <div class="popupMid">
                <div class="popupMidLeft">
                    <div class="radioButtons">
                        <label for="deliveryInsurance" class="inputFields"><b>Afleverings forsikring</b></label>
                        <input type="checkbox" class="inputFields" name="deliveryInsurance" >
                    </div>
                    <div class="radioButtons">
                        <label for="lowDeductableInsurance" class="inputFields"><b>Lav selvrisiko forsikring</b></label>
                        <input type="checkbox" class="inputFields" name="lowDeductableInsurance">
                    </div>
                    <div class="radioButtons">
                        <label for="isLimited" class="inputFields"><b>Limited</b></label>
                        <input type="checkbox" class="inputFields" name="isLimited">
                    </div>
                </div>

                <div class="popupMidRight">
                        <span class="id" id="edit-address"></span>
                </div>
            </div>


            <button type="submit" class="popupButton">Registrér</button>


        </form>
    </div>

</section>


<script>
    function getEditId(id, customer, period, address) {
        document.getElementById("edit-popup").style.display = "block";
        document.getElementById("tester").style.filter = "blur(5x)";
    }

    function openManualForm() {
        document.getElementById("manualPopupForm").style.display = "block";
        document.getElementById("tester").style.filter= "blur(5px)";
    }
    function closeManualForm() {
        document.getElementById("manualPopupForm").style.display = "none";
        document.getElementById("tester").style.filter= "blur(0px)";
    }
</script>
</body>
</html>