<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
    <link rel="stylesheet" th:href="@{general.css}" href="../static/general.css">
    <link rel="stylesheet" th:href="@{administrationForms.css}" href="../static/administrationForms.css">
</head>
<body>
<!-- Jens Legarth Ryge og Johannes Forsting-->

<div th:replace="fragments/general.html :: header()"></div>

<section class="main-container">
    <section class="creation-form-container">
        <form method="POST" action="change-employee" class="input-field-container" id="edit-form">
            <input type="hidden" id="employeeId" name="employeeId" th:value="${employee.getId()}">
            <span class="administration-creation-form-header">Ændring af medarbejderdata</span>

            <div class="prior-filled-input-field-container">
                <label for="firstName" class="box-text">Fornavn</label>
                <input type="text" class="input-field" id="firstName" name="firstName" th:value="${employee.getFirstName()}" disabled>
            </div>

            <div class="prior-filled-input-field-container">
                <label for="lastName" class="box-text">Efternavn</label>
                <input type="text" class="input-field" id="lastName" name="lastName" th:value="${employee.getLastName()}" disabled>
            </div>


            <div class="prior-filled-input-field-container">
                <label for="email" class="box-text">E-mailadresse</label>
                <input type="text" class="input-field" id="email" name="email" th:value="${employee.getEmail()}" disabled>
            </div>

            <div class="prior-filled-input-field-container">
                <label for="password" class="box-text">Adgangskode</label>
                <input type="text" class="input-field" id="password" name="password" th:value="${employee.getPassword()}" disabled>
            </div>


            <div class="prior-filled-input-field-container">
                <label for="accessFeatures" class="box-text">Adgangsrettigheder<br></label>
                <select  class="admin-input-fields" id="accessFeatures" name="accessFeatures" disabled>
                    <option th:value="${employee.getAccessFeatures()}" th:text="${employee.getAccessFeatureText()}" disabled></option>
                    <option value="1">Dataregistrering</option>
                    <option value="2">Skaderegistrering</option>
                    <option value="3">Forretningsanalyse</option>
                    <option value="4">Dataregistrering og skaderegistrering</option>
                    <option value="5">Dataregistrering og forretningsanalyse</option>
                    <option value="6">Skaderegistrering og Forretningsanalyse</option>
                    <option value="7">Dataregistrering, skaderegistrering og forretningsanalyse</option>
                </select>
            </div>

            <div class="prior-filled-input-field-container">
                <label for="isAdmin" class="box-text">Adminisratorrettigheder</label>
                <span th:if="${employee.isAdmin()}">
                    <input type="checkbox" name="isAdmin" id="isAdmin" checked>
                </span>
                <span th:unless="${employee.isAdmin()}">
                    <input type="checkbox" name="isAdmin">
                </span>
            </div>

            <div class="split-container">
                <button class="button" id="edit" onclick="unlockButton()" type="button">Rediger</button>
                <input class="button" type="submit" id="apply-button" disabled value="Anvend">
            </div>

        </form>
    </section>
</section>
<script>
    <!--Mads Nielsen-->

    var button = document.getElementById("edit");
    var info = document.getElementById("edit-form");
    button.addEventListener('click', function() {
        for (var i = 1; i <info.length ; i++) {
            info.elements[i].disabled = false
        }
    })

    function unlockButton() {
        document.getElementById("apply-button").disabled = false;
    }
</script>

</body>
</html>