<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{logIn.css}"href="../static/logIn.css">
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">

</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>
<section class="logIn">
    <img class="clockPicture" src="https://imgur.com/RkpVsO8.png">
    <h2>Velkommen</h2>
    <p>Log ind på din personlige arbejdskonto herunder</p>
    <span class="error" th:text="${loginerror}"></span>

    <form method="POST" action="/attempt-login" class="form-container">
        <input type="text" placeholder="Indtast brugernavn" class="logInFields" name="id">
        <input type="password" placeholder="Indtast password" class="logInFields" name="password">
        <button type="submit" class="logInButton">Login</button>
    </form>

</section>
</body>
</html>