<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{logIn.css}"href="../static/logIn.css">
    <link rel="stylesheet" th:href="@{general.css}"href="../static/general.css">
</head>
<body>
<!-- Jens Legarth Ryge-->

<div th:replace="fragments/general.html :: header()"></div>

<section class="login-box-container">
    <div class="login-box">
        <img class="login-box-logo" src="https://imgur.com/RkpVsO8.png">
        <h1>Velkommen</h1>
        <p>Log ind på din personlige arbejdskonto herunder for at fortsætte til Bilabonnement</p>
        <span class="error" th:text="${loginerror}"></span>
        <form method="POST" action="/attempt-login" class="login-box-form-container">
            <input type="email" placeholder="E-mailadresse" class="login-input-field" name="email">
            <input type="password" placeholder="Adgangskode" class="login-input-field" name="password">
            <button type="submit" class="button">Fortsæt</button>
        </form>
    </div>
</section>
</body>
</html>