<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{login.css}" href="../static/logIn.css">
    <link rel="stylesheet" th:href="@{general.css}" href="../static/general.css">
    <link rel="stylesheet" th:href="@{loggedInFrontpage.css}" href="../static/loggedInFrontpage.css">

</head>
<body>
<div th:replace="fragments/logged-in.html :: header()"></div>

<section class="split">
    <div class="news">

        <div class="customer-video">
            <h1>Her er vores nye video for kunderne</h1>
            <br> <br>
            <iframe  class="video" width="702" height="409" src="https://www.youtube.com/embed/VOPnrqc7pn0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen name="video" id="video"></iframe>
        </div>
        <div class="flawor-text">
            <p>
                Hos Bilabonnement synes vi det skal være simpelt og sikkert at have en bil.
                Vi har derfor lavet et produkt, der gør det lige så simpelt at have en bil som at have et streaming-abonnement!

                Vælger du et bilabonnement hos os, slipper du for at bekymre dig om service, forsikring og grøn ejerafgift. Når dit bilabonnement udløber, afleverer du bare bilen til os - let og simpelt.

            </p>
            <br><br>
            <label for="link-youtube">Følg os på vores youtube kanal</label>
            <a href="https://www.youtube.com/channel/UCjFEBzFXrrju-A7d9VQ-8_A" name="link-youtube" id="link-youtube">Bilabonnement</a>


        </div>
    </div>
    <div class="selection">
        <div class="content">
            <form method="post" action="/system-redirect">
              <label for="dropdown-content">Vælg arbejdsside</label>
                 <br><br>
                 <select name="dropdown-content" id="dropdown-content">
                     <option value="pick-page"> -- Vælg side -- </option>
                     <option value="damage">Skade og udbredreing</option>
                     <option value="data-registration">Dataregistrering</option>
                     <option value="business">Forretningsudvikling</option>
                     <option value="admin">Admin</option>
                 </select>
                 <input type="hidden" name="selected-url" id="selected-url">
                 <input type="submit" value='Vælg' onclick='return btnClick();'>
            </form>
        </div>
    </div>

</section>

<script>
    function btnClick() {
        let select = document.getElementById('dropdown-content')
        let value = select.options[select.selectedIndex].value;
        document.getElementById('selected-url').setAttribute("value", value)

        if (value === 'pick-page') {
            return false
        } else {
            getUrl()
        }
    }
    function getUrl() {
        let select = document.getElementById('dropdown-content')
        let value = select.options[select.selectedIndex].value;
        document.getElementById('selected-url').setAttribute("value", value)
    }
</script>
</body>
</html>