<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New employee - Bilabonnement</title>
    <link rel="stylesheet" th:href="@{general.css}" href="../static/general.css">
    <link rel="stylesheet" th:href="@{administrationForms.css}" href="../static/administrationForms.css">

</head>
<body>
<!-- Jens Legarth Ryge og Johannes Forsting-->
<div th:replace="fragments/general.html :: header()"></div>

<section class="main-container">
    <section class="creation-form-container">
        <span class="administration-creation-form-header">Opret medarbejder</span>
        <form method="POST" action="create-new-employee" class="input-field-container">
            <input type="text" placeholder="Fornavn" class="input-field" name="firstName" required>
            <input type="text" placeholder="Efternavn" class="input-field" name="lastName" required>
            <input type="email" placeholder="E-mailadresse" class="input-field" name="email" required>
            <input type="text" placeholder="Adgangskode" class="input-field" name="password" required>

            <div>
                <span class="box-text">Administratorettigheder</span>
                <input type="checkbox" name="isAdmin">
            </div>

            <div class="new-employee-form-objects">
                <select name="accessFeatures" class="drop-down">
                    <option value="1">Dataregistrering</option>
                    <option value="2">Skaderegistrering</option>
                    <option value="3">Forretningsanalyse</option>
                    <option value="4">Dataregistrering og skaderegistrering</option>
                    <option value="5">Dataregistrering og forretningsanalyse</option>
                    <option value="6">Skaderegistrering og Forretningsanalyse</option>
                    <option value="7">Dataregistrering, skaderegistrering og forretningsanalyse</option>
                </select>
            </div>
            <input type="submit" class="button" value="Opret">
        </form>

    </section>
</section>
</body>
</html>